################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ManagerDirectory/ManagerDirectory/bin/Debug/net5.0
/ManagerDirectory/ManagerDirectory/obj
/.vs
/ManagerDirectory/.vs/ManagerDirectory/v16
/ManagerDirectory/.idea/.idea.ManagerDirectory/.idea
