################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ManagerDirectory/ManagerDirectory/bin/Debug/net5.0
